main {
    padding-top: 1.5rem;
    min-height: 90vh;
}

.search-and-filter {
    padding: 1rem 1.5rem;
    display:flex;
    flex-direction: column;
    gap: 3rem;
}


@media screen and (min-width: 1440px) {
    .search-and-filter {
        padding: 1.5rem 3rem;
        flex-direction: row;
        justify-content: space-between;
    }
}
    