.light-dark-button{
    display:flex;
    align-items: center;
    gap: .5rem;
    background-color: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: .75rem;
    font-weight: 600;
}

.button-color-bg {
    color: var(--clr-light-mode-txt);
    background-color: transparent;
}

@media screen and (min-width:1440px) {
    .light-dark-button {
        font-size: 1rem;
    }
}

.dark-theme-text {
    color: var(--clr-dark-mode-text-and-light-element);
}