.country-details {
    min-height: 100vh;
    padding: 1rem;
    padding-top: 2rem;
    background-color: var(--clr-light-mode-bg);
}

.btn-back {
    border: none;
    background-color: var(--clr-dark-mode-text-and-light-element); 
    display:flex;
    flex-direction: center;
    align-items: center;
    gap: 1rem;
    padding: .50rem 1rem;
    font-size: 14px;
    box-shadow: 0 0 1rem -.5rem rgba(0, 0, 0, 1);
    background-color: var(--clr-dark-mode-text-and-light-element);
    color:var(--clr-light-mode-txt);
    font-weight: 600;
    cursor:pointer;
}

.details-and-img {
    padding-top: 2rem;
    display:flex;
    flex-direction: column;
    gap: 2rem;
    
}

.details {
    display:flex; 
    flex-direction: column;
    gap: 1rem;
}

.details h1 {
    font-size: 18px;
    font-weight: 800;
}

.sub-details {
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.details-info > div {
    display:flex;
    gap: .25rem;
    font-size: 14px;
    color: var(--clr-light-mode-txt)
}

.details-info > div > p{
    font-weight: 600;
}

.buttons-details {
    display:flex;
    flex-direction: column;
    gap: .5rem;
}

.buttons-details h2 {
    font-size: 14px;
}

.buttons-details div {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.btn-border {
    border:none;
    border: 1px solid var(--clr-light-mode-input);
    background-color: var(--clr-dark-mode-text-and-light-element);
    padding: .5rem 1rem;
    cursor:pointer;
}

@media screen and (min-width: 1440px) {

    .country-details{
        min-height: 90vh;
    }

    .details-and-img {
        max-width: 1000px;
        margin: 0 auto;
        padding-top:5rem;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }

    .details-and-img img {
        flex-grow: .5;
    }

    .details {
        flex-grow: .5;
    }

    .details h1 {
        font-size: 1.5rem;
    }

    .sub-details {
        flex-direction: row;
        justify-content: space-between;
    }

    .buttons-details {
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
    }

    .buttons-details h2 {
        font-size: 14px;
        font-weight: 600;
    }

    .buttons-details > div {
        flex-grow:.5;
        justify-content: space-between;
    }

}

.is-dark {
    background-color: var(--clr-dark-mode-bg);
}

.is-elem-dark {
    background-color: var(--clr-dark-elem);
    color: var(--clr-dark-mode-text-and-light-element)
}

.text-dark {
    color: var(--clr-dark-mode-text-and-light-element)
}

