* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --clr-dark-elem: hsl(209, 23%, 22%);
  --clr-dark-mode-bg: hsl(207, 26%, 17%);
  --clr-light-mode-txt: hsl(200, 15%, 8%);
  --clr-light-mode-input: hsl(0, 0%, 52%);
  --clr-light-mode-bg: hsl(0, 0%, 98%);
  --clr-dark-mode-text-and-light-element:hsl(0, 0%, 100%);
}
